<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Examen Mail</title>
    <link rel="icon" type="image/png" sizes="32x32" href="Images/Ico_Mail.png">
    <link rel="stylesheet" href="../CSS/Connexion.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <img src="Images/Ico_Mail.png" alt="">
            <h1>Connexion</h1>
            <h3>Accéder à Mail</h3>
        </div>
        <form action="Acceuil_Mail.html" method="post">
            <input type="email" placeholder="Adresse e-mail" required>
            <input type="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>
    </div>
</body>
</html>