<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Mail</title>
    <link rel="icon" type="image/png" sizes="32x32" href="Images/Ico_Mail.png">
    <link rel="stylesheet" href="../CSS/Examen_Mail.css">
</head>
<body>
    <header>
        <div>
            <img src="Images/Ico_Mail.png" alt="Erreur IMG">
            <a id="title" href="#">Examen Mail</a>
        </div>
        <div class="nav">
            <a class="work" href="#">Pour le travail</a>
            <a id="login" href="Connexion.html">Se connecter</a>
            <a class="create" href="#">Créer un compte</a>
        </div>
    </header>
    <main>
        <div class="content">
            <h1>Une messagerie sécurisée, intelligente et facile à utiliser</h1>
            <p>Gagnez en efficacité avec Gmail, qui intègre désormais Google Chat, Google Meet et d'autres outils.</p>
            <a class="create" href="#">Créer un compte</a>
            <a class="work" href="#">Pour le travail</a>
        </div>
        <div class="image">
            <img src="Images/Gmail.jpg" alt="Erreur IMG">
        </div>
</body>