<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/Acceuil_Mail.css">
</head>
<body>
    <div class="compose-window">
        <div class="compose-header">Nouveau message
            <button class="compose-close" onclick="document.getElementById('nv-mail').classList.remove('visible')">❌</button>
        </div>
        <div class="compose-body">
            <input type="text" placeholder="A" class="compose-input">
            <input type="text" placeholder="Objet" class="compose-input">
            <textarea class="compose-textarea"></textarea>
        </div>
    </div>
</body>
</html>
